In [122]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [123]:
df=pd.read_csv('/content/sample_data/traffic_violaions.csv')

In [124]:
df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52961,10/5/2011,1:55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
52962,10/5/2011,6:43,NaN,M,1986.0,25.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
52963,10/5/2011,6:49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False
52964,10/5/2011,7:19,NaN,F,1986.0,25.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
52965,10/5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52966 entries, 0 to 52965
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           52966 non-null  object
 1   stop_time           52965 non-null  object
 2   country_name        0 non-null      float64
 3   driver_gender       49580 non-null  object
 4   driver_age_raw      49588 non-null  float64
 5   driver_age          49346 non-null  float64
 6   driver_race         49581 non-null  object
 7   violation_raw       49581 non-null  object
 8   violation           49581 non-null  object
 9   search_conducted    52965 non-null  object
 10  search_type         2085 non-null   object
 11  stop_outcome        49581 non-null  object
 12  is_arrested         49581 non-null  object
 13  stop_duration       49581 non-null  object
 14  drugs_related_stop  52965 non-null  object
dtypes: float64(3), object(12)
memory usage: 6.1+ MB

In [126]:
df.isna().sum()

stop_date                 0
stop_time                 1
country_name          52966
driver_gender          3386
driver_age_raw         3378
driver_age             3620
driver_race            3385
violation_raw          3385
violation              3385
search_conducted          1
search_type           50881
stop_outcome           3385
is_arrested            3385
stop_duration          3385
drugs_related_stop        1
dtype: int64

In [127]:
df.duplicated().sum()

286

In [128]:
df.drop(columns=['country_name','search_type','driver_age_raw'], inplace=True)

In [129]:
df

,stop_date,stop_time,driver_gender,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,20.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,40.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,33.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
3,2/20/2005,17:15,M,19.0,White,Call for Service,Other,False,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,F,21.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...
52961,10/5/2011,1:55,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False
52962,10/5/2011,6:43,M,25.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
52963,10/5/2011,6:49,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,False
52964,10/5/2011,7:19,F,25.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
52965,10/5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
df.dropna(subset = ['drugs_related_stop'], inplace = True)

In [131]:
df.isna().sum()

stop_date                0
stop_time                0
driver_gender         3385
driver_age            3619
driver_race           3384
violation_raw         3384
violation             3384
search_conducted         0
stop_outcome          3384
is_arrested           3384
stop_duration         3384
drugs_related_stop       0
dtype: int64

In [132]:
df.drop_duplicates(inplace=True)

In [133]:
df.duplicated().any()

False

In [134]:
df.dropna(inplace=True)

In [135]:
df.isna().sum()

stop_date             0
stop_time             0
driver_gender         0
driver_age            0
driver_race           0
violation_raw         0
violation             0
search_conducted      0
stop_outcome          0
is_arrested           0
stop_duration         0
drugs_related_stop    0
dtype: int64

In [136]:
df['stop_date'] = pd.to_datetime(df['stop_date'])

In [137]:
df['stop_time'] = pd.to_datetime(df['stop_time'])

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49171 entries, 0 to 52964
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           49171 non-null  datetime64[ns]
 1   stop_time           49171 non-null  datetime64[ns]
 2   driver_gender       49171 non-null  object
 3   driver_age          49171 non-null  float64
 4   driver_race         49171 non-null  object
 5   violation_raw       49171 non-null  object
 6   violation           49171 non-null  object
 7   search_conducted    49171 non-null  object
 8   stop_outcome        49171 non-null  object
 9   is_arrested         49171 non-null  object
 10  stop_duration       49171 non-null  object
 11  drugs_related_stop  49171 non-null  object
dtypes: datetime64[ns](2), float64(1), object(9)
memory usage: 4.9+ MB

In [139]:
df

,stop_date,stop_time,driver_gender,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,2023-04-05 01:55:00,M,20.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
1,2005-01-18,2023-04-05 08:15:00,M,40.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
2,2005-01-23,2023-04-05 23:15:00,M,33.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
3,2005-02-20,2023-04-05 17:15:00,M,19.0,White,Call for Service,Other,False,Arrest Driver,True,16-30 Min,False
4,2005-03-14,2023-04-05 10:00:00,F,21.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...
52956,2011-10-04,2023-04-05 22:22:00,M,32.0,White,Speeding,Speeding,False,Arrest Driver,True,0-15 Min,False
52958,2011-10-04,2023-04-05 22:36:00,F,44.0,Hispanic,Speeding,Speeding,False,Citation,False,0-15 Min,False
52959,2011-10-04,2023-04-05 23:25:00,F,20.0,Black,Speeding,Speeding,False,Citation,False,0-15 Min,False
52962,2011-10-05,2023-04-05 06:43:00,M,25.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
52964,2011-10-05,2023-04-05 07:19:00,F,25.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False

In [140]:
df['stop_duration'].unique()

array(['0-15 Min', '16-30 Min', '30+ Min'], dtype=object)

In [141]:
df['search_conducted'].unique()

array([False, True], dtype=object)

In [142]:
label_encoding = {"stop_duration": {'0-15 Min':7,'16-30 Min':25, '30+ Min':40}, 
                  "driver_gender": {'M':0,'F':1}, 
                  
                 }
df = df.replace(label_encoding)

In [143]:
df.head()

,stop_date,stop_time,driver_gender,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,2023-04-05 01:55:00,0,20.0,White,Speeding,Speeding,False,Citation,False,7,False
1,2005-01-18,2023-04-05 08:15:00,0,40.0,White,Speeding,Speeding,False,Citation,False,7,False
2,2005-01-23,2023-04-05 23:15:00,0,33.0,White,Speeding,Speeding,False,Citation,False,7,False
3,2005-02-20,2023-04-05 17:15:00,0,19.0,White,Call for Service,Other,False,Arrest Driver,True,25,False
4,2005-03-14,2023-04-05 10:00:00,1,21.0,White,Speeding,Speeding,False,Citation,False,7,False

In [144]:
label_encoding = {"search_conducted": {'False':0,'True':1}, 
                  "drugs_related_stop": {'False':0,'True':1}, 
                  
                 }
df = df.replace(label_encoding)

In [145]:
df.head()

,stop_date,stop_time,driver_gender,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,2023-04-05 01:55:00,0,20.0,White,Speeding,Speeding,False,Citation,False,7,False
1,2005-01-18,2023-04-05 08:15:00,0,40.0,White,Speeding,Speeding,False,Citation,False,7,False
2,2005-01-23,2023-04-05 23:15:00,0,33.0,White,Speeding,Speeding,False,Citation,False,7,False
3,2005-02-20,2023-04-05 17:15:00,0,19.0,White,Call for Service,Other,False,Arrest Driver,True,25,False
4,2005-03-14,2023-04-05 10:00:00,1,21.0,White,Speeding,Speeding,False,Citation,False,7,False

In [146]:
df.search_conducted = df.search_conducted.replace(to_replace=[True, False], value=[1, 0])

In [147]:
df.head()

,stop_date,stop_time,driver_gender,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,2023-04-05 01:55:00,0,20.0,White,Speeding,Speeding,0,Citation,False,7,0
1,2005-01-18,2023-04-05 08:15:00,0,40.0,White,Speeding,Speeding,0,Citation,False,7,0
2,2005-01-23,2023-04-05 23:15:00,0,33.0,White,Speeding,Speeding,0,Citation,False,7,0
3,2005-02-20,2023-04-05 17:15:00,0,19.0,White,Call for Service,Other,0,Arrest Driver,True,25,0
4,2005-03-14,2023-04-05 10:00:00,1,21.0,White,Speeding,Speeding,0,Citation,False,7,0

In [148]:
df['year'] = df['stop_date'].dt.year

In [149]:
df

,stop_date,stop_time,driver_gender,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop,year
0,2005-01-02,2023-04-05 01:55:00,0,20.0,White,Speeding,Speeding,0,Citation,False,7,0,2005
1,2005-01-18,2023-04-05 08:15:00,0,40.0,White,Speeding,Speeding,0,Citation,False,7,0,2005
2,2005-01-23,2023-04-05 23:15:00,0,33.0,White,Speeding,Speeding,0,Citation,False,7,0,2005
3,2005-02-20,2023-04-05 17:15:00,0,19.0,White,Call for Service,Other,0,Arrest Driver,True,25,0,2005
4,2005-03-14,2023-04-05 10:00:00,1,21.0,White,Speeding,Speeding,0,Citation,False,7,0,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...
52956,2011-10-04,2023-04-05 22:22:00,0,32.0,White,Speeding,Speeding,0,Arrest Driver,True,7,0,2011
52958,2011-10-04,2023-04-05 22:36:00,1,44.0,Hispanic,Speeding,Speeding,0,Citation,False,7,0,2011
52959,2011-10-04,2023-04-05 23:25:00,1,20.0,Black,Speeding,Speeding,0,Citation,False,7,0,2011
52962,2011-10-05,2023-04-05 06:43:00,0,25.0,White,Speeding,Speeding,0,Citation,False,7,0,2011
52964,2011-10-05,2023-04-05 07:19:00,1,25.0,White,Speeding,Speeding,0,Citation,False,7,0,2011

In [150]:
df['day'] = df['stop_date'].dt.day
df['month'] = df['stop_date'].dt.month

In [151]:
df

,stop_date,stop_time,driver_gender,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop,year,day,month
0,2005-01-02,2023-04-05 01:55:00,0,20.0,White,Speeding,Speeding,0,Citation,False,7,0,2005,2,1
1,2005-01-18,2023-04-05 08:15:00,0,40.0,White,Speeding,Speeding,0,Citation,False,7,0,2005,18,1
2,2005-01-23,2023-04-05 23:15:00,0,33.0,White,Speeding,Speeding,0,Citation,False,7,0,2005,23,1
3,2005-02-20,2023-04-05 17:15:00,0,19.0,White,Call for Service,Other,0,Arrest Driver,True,25,0,2005,20,2
4,2005-03-14,2023-04-05 10:00:00,1,21.0,White,Speeding,Speeding,0,Citation,False,7,0,2005,14,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52956,2011-10-04,2023-04-05 22:22:00,0,32.0,White,Speeding,Speeding,0,Arrest Driver,True,7,0,2011,4,10
52958,2011-10-04,2023-04-05 22:36:00,1,44.0,Hispanic,Speeding,Speeding,0,Citation,False,7,0,2011,4,10
52959,2011-10-04,2023-04-05 23:25:00,1,20.0,Black,Speeding,Speeding,0,Citation,False,7,0,2011,4,10
52962,2011-10-05,2023-04-05 06:43:00,0,25.0,White,Speeding,Speeding,0,Citation,False,7,0,2011,5,10
52964,2011-10-05,2023-04-05 07:19:00,1,25.0,White,Speeding,Speeding,0,Citation,False,7,0,2011,5,10

In [153]:
df['hour'] = df['stop_time'].dt.hour

In [154]:
df

,stop_date,stop_time,driver_gender,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop,year,day,month,hour
0,2005-01-02,2023-04-05 01:55:00,0,20.0,White,Speeding,Speeding,0,Citation,False,7,0,2005,2,1,1
1,2005-01-18,2023-04-05 08:15:00,0,40.0,White,Speeding,Speeding,0,Citation,False,7,0,2005,18,1,8
2,2005-01-23,2023-04-05 23:15:00,0,33.0,White,Speeding,Speeding,0,Citation,False,7,0,2005,23,1,23
3,2005-02-20,2023-04-05 17:15:00,0,19.0,White,Call for Service,Other,0,Arrest Driver,True,25,0,2005,20,2,17
4,2005-03-14,2023-04-05 10:00:00,1,21.0,White,Speeding,Speeding,0,Citation,False,7,0,2005,14,3,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52956,2011-10-04,2023-04-05 22:22:00,0,32.0,White,Speeding,Speeding,0,Arrest Driver,True,7,0,2011,4,10,22
52958,2011-10-04,2023-04-05 22:36:00,1,44.0,Hispanic,Speeding,Speeding,0,Citation,False,7,0,2011,4,10,22
52959,2011-10-04,2023-04-05 23:25:00,1,20.0,Black,Speeding,Speeding,0,Citation,False,7,0,2011,4,10,23
52962,2011-10-05,2023-04-05 06:43:00,0,25.0,White,Speeding,Speeding,0,Citation,False,7,0,2011,5,10,6
52964,2011-10-05,2023-04-05 07:19:00,1,25.0,White,Speeding,Speeding,0,Citation,False,7,0,2011,5,10,7

In [155]:
df.is_arrested = df.is_arrested.replace(to_replace=[True, False], value=[1, 0])

In [156]:
df

,stop_date,stop_time,driver_gender,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop,year,day,month,hour
0,2005-01-02,2023-04-05 01:55:00,0,20.0,White,Speeding,Speeding,0,Citation,0,7,0,2005,2,1,1
1,2005-01-18,2023-04-05 08:15:00,0,40.0,White,Speeding,Speeding,0,Citation,0,7,0,2005,18,1,8
2,2005-01-23,2023-04-05 23:15:00,0,33.0,White,Speeding,Speeding,0,Citation,0,7,0,2005,23,1,23
3,2005-02-20,2023-04-05 17:15:00,0,19.0,White,Call for Service,Other,0,Arrest Driver,1,25,0,2005,20,2,17
4,2005-03-14,2023-04-05 10:00:00,1,21.0,White,Speeding,Speeding,0,Citation,0,7,0,2005,14,3,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52956,2011-10-04,2023-04-05 22:22:00,0,32.0,White,Speeding,Speeding,0,Arrest Driver,1,7,0,2011,4,10,22
52958,2011-10-04,2023-04-05 22:36:00,1,44.0,Hispanic,Speeding,Speeding,0,Citation,0,7,0,2011,4,10,22
52959,2011-10-04,2023-04-05 23:25:00,1,20.0,Black,Speeding,Speeding,0,Citation,0,7,0,2011,4,10,23
52962,2011-10-05,2023-04-05 06:43:00,0,25.0,White,Speeding,Speeding,0,Citation,0,7,0,2011,5,10,6
52964,2011-10-05,2023-04-05 07:19:00,1,25.0,White,Speeding,Speeding,0,Citation,0,7,0,2011,5,10,7

In [157]:
df.to_csv('trafic_violations.csv')